<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="ontrack_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="ontrack_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/OntrackDiagramFile.gif"
         extensions="ontrack_diagram"
         default="true"
         class="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditor"
         matchingStrategy="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackMatchingStrategy"
         contributorClass="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="uk.ac.swanseacoventry.cmt.ontrack.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/OntrackDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackCreationWizard"
  	     id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="OnTrack.dsl.diagram.InitDiagram"
            nameFilter="*.ontrack"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="OnTrack.dsl.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OntrackPresentation">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OntrackPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OntrackRender">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="false"?>
      <page
            id="OnTrack.dsl.diagram.general"
            name="OnTrack"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="OnTrack.dsl.diagram.appearance"
            name="%prefpage.OnTrack.dsl.diagram.appearance"
            category="OnTrack.dsl.diagram.general"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="OnTrack.dsl.diagram.connections"
            name="%prefpage.OnTrack.dsl.diagram.connections"
            category="OnTrack.dsl.diagram.general"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="OnTrack.dsl.diagram.printing"
            name="%prefpage.OnTrack.dsl.diagram.printing"
            category="OnTrack.dsl.diagram.general"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="OnTrack.dsl.diagram.rulersAndGrid"
            name="%prefpage.OnTrack.dsl.diagram.rulersAndGrid"
            category="OnTrack.dsl.diagram.general"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            category="OnTrack.dsl.diagram.general"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.preferences.custom.MCPaths"
            id="OnTrack.diagram.preference.MCPaths"
            name="Model checkers">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="OnTrack.dsl.diagram"
            labelProvider="uk.ac.swanseacoventry.cmt.ontrack.diagram.sheet.OntrackSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="OnTrack.dsl.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="OnTrack.dsl.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.sheet.OntrackPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Ontrack"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004,2005,2006,2007,2008"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004,4005,4006,4007,4008"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Ontrack"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007,2008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004,4005,4006,4007,4008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfTrackPlanEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.TrackPlanEditPart" id="TrackPlan_1000"/>
         <context elements="TrackPlan_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfConnectorEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.ConnectorEditPart" id="Connector_2001"/>
         <context elements="Connector_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfSignalEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.SignalEditPart" id="Signal_2002"/>
         <context elements="Signal_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfEntranceEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.EntranceEditPart" id="Entrance_2003"/>
         <context elements="Entrance_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfExitEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.ExitEditPart" id="Exit_2004"/>
         <context elements="Exit_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfTerminalEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.TerminalEditPart" id="Terminal_2005"/>
         <context elements="Terminal_2005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfNewTrackEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.NewTrackEditPart" id="NewTrack_2006"/>
         <context elements="NewTrack_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfNewPointEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.NewPointEditPart" id="NewPoint_2007"/>
         <context elements="NewPoint_2007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.assistants.OntrackModelingAssistantProviderOfNewCrossingEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.NewCrossingEditPart" id="NewCrossing_2008"/>
         <context elements="NewCrossing_2008"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.TrackPlan_1000"
               name="%metatype.name.TrackPlan_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TrackPlan"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.TrackPlanEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Connector_2001"
               name="%metatype.name.Connector_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Connector"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.ConnectorEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Signal_2002"
               name="%metatype.name.Signal_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Signal"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.SignalEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Entrance_2003"
               name="%metatype.name.Entrance_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Entrance"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.EntranceEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Exit_2004"
               name="%metatype.name.Exit_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Exit"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.ExitEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Terminal_2005"
               name="%metatype.name.Terminal_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Terminal"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.TerminalEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.NewTrack_2006"
               name="%metatype.name.NewTrack_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NewTrack"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.NewTrackEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.NewPoint_2007"
               name="%metatype.name.NewPoint_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NewPoint"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.NewPointEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.NewCrossing_2008"
               name="%metatype.name.NewCrossing_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NewCrossing"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.NewCrossingEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Point_4001"
               name="%metatype.name.Point_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Point"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.PointEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Crossing_4002"
               name="%metatype.name.Crossing_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Crossing"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.CrossingEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <specializationType
               id="OnTrack.dsl.diagram.SignalTrack_4003"
               name="%metatype.name.SignalTrack_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <specializationType
               id="OnTrack.dsl.diagram.SignalConnector_4004"
               name="%metatype.name.SignalConnector_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <metamodelType
               id="OnTrack.dsl.diagram.Track_4005"
               name="%metatype.name.Track_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Track"
               edithelper="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.helpers.TrackEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <specializationType
               id="OnTrack.dsl.diagram.EntranceConnector_4006"
               name="%metatype.name.EntranceConnector_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <specializationType
               id="OnTrack.dsl.diagram.ExitConnector_4007"
               name="%metatype.name.ExitConnector_4007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore">
         <specializationType
               id="OnTrack.dsl.diagram.TerminalConnector_4008"
               name="%metatype.name.TerminalConnector_4008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4008"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="OnTrack.dsl.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="OnTrack.dsl.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="OnTrack.dsl.diagram.TypeContext">
         <elementType ref="OnTrack.dsl.diagram.TrackPlan_1000"/>
         <elementType ref="OnTrack.dsl.diagram.Connector_2001"/>
         <elementType ref="OnTrack.dsl.diagram.Signal_2002"/>
         <elementType ref="OnTrack.dsl.diagram.Entrance_2003"/>
         <elementType ref="OnTrack.dsl.diagram.Exit_2004"/>
         <elementType ref="OnTrack.dsl.diagram.Terminal_2005"/>
         <elementType ref="OnTrack.dsl.diagram.NewTrack_2006"/>
         <elementType ref="OnTrack.dsl.diagram.NewPoint_2007"/>
         <elementType ref="OnTrack.dsl.diagram.NewCrossing_2008"/>
         <elementType ref="OnTrack.dsl.diagram.Point_4001"/>
         <elementType ref="OnTrack.dsl.diagram.Crossing_4002"/>
         <elementType ref="OnTrack.dsl.diagram.SignalTrack_4003"/>
         <elementType ref="OnTrack.dsl.diagram.SignalConnector_4004"/>
         <elementType ref="OnTrack.dsl.diagram.Track_4005"/>
         <elementType ref="OnTrack.dsl.diagram.EntranceConnector_4006"/>
         <elementType ref="OnTrack.dsl.diagram.ExitConnector_4007"/>
         <elementType ref="OnTrack.dsl.diagram.TerminalConnector_4008"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="OnTrack.dsl.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="OnTrack.dsl.diagram"
           properties="isURIEditorInput"
           class="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="OnTrack.dsl.diagram.resourceContent"/>
			<contentExtension pattern="OnTrack.dsl.diagram.domainResourceContent"/>
            <contentExtension pattern="OnTrack.dsl.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="OnTrack.dsl.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="OnTrack.dsl.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackNavigatorContentProvider" 
            labelProvider="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackNavigatorLabelProvider"
            icon="icons/obj16/OntrackDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="ontrack_diagram"/>
               </and>
               <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="OnTrack.dsl.diagram.navigatorSorter" 
               class="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="ontrack_diagram"/>
                  </and>
                  <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="OnTrack.dsl.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackDomainNavigatorContentProvider" 
            labelProvider="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackDomainNavigatorLabelProvider"
            icon="icons/obj16/OntrackDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="ontrack"/>
               </and>
               <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="OnTrack.dsl.diagram.navigatorActionProvider"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="OnTrack.dsl.diagram.navigatorLinkHelper"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="OnTrack.dsl.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.navigator.OntrackAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramUpdateCommand"
         description="%update.diagram.description"
         id="uk.ac.swanseacoventry.cmt.ontrack.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="uk.ac.swanseacoventry.cmt.ontrack.diagram.updateDiagram"
         contextId="uk.ac.swanseacoventry.cmt.ontrack.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="OnTrack.dsl.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="uk.ac.swanseacoventry.cmt.ontrack.diagram.edit.parts.TrackPlanEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="OnTrack.dsl.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.OntrackDiagramEditorID"
         defaultHandler="uk.ac.swanseacoventry.cmt.ontrack.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.TopoRouteViewer"
            name="Topological routes"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.TopoRouteViewer"/>   
   </extension>

   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.ControlTableViewer"
            name="Control Table"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.ControlTableViewer"/>   
   </extension>

   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.ReleaseTableViewer"
            name="Release Table"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.ReleaseTableViewer"/>   
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CoveringViewer"
            name="Covering"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CoveringViewer"/>   
   </extension>

   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CSPBTableViewer"
            name="CSP||B"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CSPBTableViewer"/>   
   </extension>

   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CSPTableViewer"
            name="CSP"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CSPTableViewer"/>   
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view id="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CASLTableViewer"
            name="CASL"
            class="uk.ac.swanseacoventry.cmt.ontrack.diagram.view.CASLTableViewer"/>   
   </extension>

  <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackMarkerNavigationProvider">
         <MarkerType name="OnTrack.dsl.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="Ontrack Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension><extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

<extension point="org.eclipse.emf.validation.constraintProviders">
      <?gmfgen generated="true"?>
            <category id="OntrackAuditContainer" mandatory="false" name="OntrackAuditContainer">
         <![CDATA[]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.eclipse.org/gmf/runtime/1.0.2/notation"/>
               <constraints categories="OntrackAuditContainer">
                  <constraint id="ErrorPointDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter1"
            name="ErrorPointDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Point is configured wrongly]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorCrossingDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter2"
            name="ErrorCrossingDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Crossing is configured wrongly]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorEntrancePlacementDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter3"
            name="ErrorEntrancePlacementDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Entrance is placed to a middle connector]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorExitPlacementDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter4"
            name="ErrorExitPlacementDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Exit is placed to a middle connector]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorTerminalPlacementDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter5"
            name="ErrorTerminalPlacementDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Terminal is placed to a middle connector or entrance or exit]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorTrackDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter6"
            name="ErrorTrackDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Too many tracks are linked together]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="ErrorSignalDirectionDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter7"
            name="ErrorSignalDirectionDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Signal is linked to wrong connector]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="SignalDuplicatedNameDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter8"
            name="SignalDuplicatedNameDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Signal name is not provided or dupblicated]]></message>
            <target class="notation.Node"/>
         </constraint>
                  <constraint id="TrackDuplicatedNameDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter9"
            name="TrackDuplicatedNameDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Track name is not provided or dupblicated]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  <constraint id="PointDuplicatedNameDetectorRule"
            lang="Java" class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Adapter10"
            name="PointDuplicatedNameDetectorRule"
            mode="Batch"
            severity="ERROR" statusCode="200">
            
            <description><![CDATA[]]></description>
            <message><![CDATA[Point name is not provided or dupblicated]]></message>
            <target class="notation.Edge"/>
         </constraint>
                  </constraints>
      </constraintProvider>
   </extension>

<extension point="org.eclipse.emf.validation.constraintBindings">
      <?gmfgen generated="true"?>
      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4001">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4001"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4001">
                  <constraint ref="OnTrack.dsl.diagram.ErrorPointDetectorRule"/>
                  <constraint ref="OnTrack.dsl.diagram.PointDuplicatedNameDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4002">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4002"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4002">
                  <constraint ref="OnTrack.dsl.diagram.ErrorCrossingDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4006">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4006"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4006">
                  <constraint ref="OnTrack.dsl.diagram.ErrorEntrancePlacementDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4007">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4007"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4007">
                  <constraint ref="OnTrack.dsl.diagram.ErrorExitPlacementDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4008">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4008"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4008">
                  <constraint ref="OnTrack.dsl.diagram.ErrorTerminalPlacementDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4005">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4005"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4005">
                  <constraint ref="OnTrack.dsl.diagram.ErrorTrackDetectorRule"/>
                  <constraint ref="OnTrack.dsl.diagram.TrackDuplicatedNameDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_4004">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_4004"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_4004">
                  <constraint ref="OnTrack.dsl.diagram.ErrorSignalDirectionDetectorRule"/>
               </binding>

      <clientContext default="false" id="OnTrack.dsl.diagramCtx_2002">
         <selector class="uk.ac.swanseacoventry.cmt.ontrack.diagram.providers.OntrackValidationProvider$Ctx_2002"/>
      </clientContext>
      <binding context="OnTrack.dsl.diagramCtx_2002">
                  <constraint ref="OnTrack.dsl.diagram.SignalDuplicatedNameDetectorRule"/>
               </binding>

   </extension>
<extension
      id="uk.ac.swanseacoventry.cmt.ontrack"
      name="OnTrack"
      point="org.eclipse.core.runtime.products">
   <product
         application="OnTrack.diagram.product"
         name="OnTrack">
      <property
            name="appName"
            value="OnTrack">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.importWizards">
   <category
         id="ontrack.dsl.diagram.importWizards.sampleCategory"
         name="Railway model importer">
   </category>
   <wizard
         category="ontrack.dsl.diagram.importWizards.sampleCategory"
         class="uk.ac.swanseacoventry.cmd.ontrack.diagram.importWizards.RailImporterWizard"
         icon="icons/sample.gif"
         id="ontrack.dsl.diagram.importWizards.RailImporterWizard"
         name="Existing Brave model">
      <description>
         Import a Brave model into OnTrack
      </description>
   </wizard>
</extension>


   <!-- optionally, specify keybindings -->
</plugin>
