<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontrack -->
      <package
            uri="http:///uk/ac/swanseacoventry/cmt/ontrack.ecore"
            class="uk.ac.swanseacoventry.cmt.ontrack.OntrackPackage"
            genModel="model/ontrack.genmodel"/>
   </extension>

</plugin>
